body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #3a3b3b;
    letter-spacing: 0.3px;

}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    box-sizing: border-box;
}


p {
    font-size: 14px;
    color: lightgray;
}

a {
    color: lightgray;
    font-size: 12px;
    /*text-decoration: none;*/
}

.registration a {
    text-align: center;
    display: block;
    margin-top: 18px;
}

button {
    background: #774274;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    border: none;
    color: lightgray;
}

.registration button, .login-wrapper button {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    width: fit-content;
    font-size: 18px;
    padding: 5px 10px;
    display: block;

}

.logout {
    font-size: 18px;
    padding: 5px 10px;
    display: block;
    margin-top: 5px;
    margin-left: 90vw;
    width: fit-content;

}


.login-wrapper, .registration {
    background: #232426;
    width: fit-content;
    margin: auto;
    margin-top: 100px;
    background: #232426;
    padding: 20px 40px;
    border-radius: 8px;
}

  input {
    border-radius: 8px;
    border: 1px solid #232426;
    padding: 2px 8px;
    cursor: pointer;
    font-size: 18px;
    background: lightslategray;
    height: 40px;
    width: 250px

}


.registration p login-wrapper p {
    margin: 20px 0;
    font-weight: bold;
    text-transform: uppercase;
}

.error {
    display: block;
    color: red;
    margin-top: 10px;
    margin-left: 4px;
    font-size: 12px;
}

.person {
    display: flex;
    align-items: baseline;
    gap: 30px;
    text-align: center;
}

.list-header {
    display: flex;
    gap: 30px;
    background: #3d3e42;
    align-items: baseline;
    border-radius: 5px;
    text-align: center;
    margin: 10px 0;
}

.person p, .list-header p{
    width:90px;
    /*text-align: center;*/
}
.list-header p {
    font-weight:bold ;
}

.list-wrapper{
    width: fit-content;
    margin:auto;
    background: #232426;
    padding:10px 25px;
}
.search{
    display:flex;
    justify-content: center;
    gap:30px;
    align-items: center;
}
.search input{
    height:30px;
    width:160px;
    color:white;
    background: transparent;
    border:#774274FF solid 2px;
    border-radius: 12px;
}