.modal {
    position: absolute;
    z-index: 2;
    background: #2d2d3d;
    padding: 20px;
    left: 40vw;
    top: 100px

}

.modal button {
    display: block;
    width: fit-content;
    margin: 20px auto 0 auto;
    padding: 2px 5px;
}

.add {

    background: white;
    color: #232426;
    padding: 2px 5px;
    margin-left:70px ;

}